@using FitnessUniverse.Models
@model FitnesCentar
@{ Layout = null; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/css/ol.css" type="text/css">
    <style>
        .map {
            height: 150px;
            width: 100%;
        }

        .search {
            background: #a0a0a0;
        }

        .sort {
            background: #a0a0a0;
        }

        body {
            background: #b3fef9;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/build/ol.js"></script>

    <meta name="viewport" content="width=device-width" />

    <title>Detalji</title>
</head>
<body>
    <div>
        <h3> @Model.Naziv </h3>

        <table cellspacing="10" style="width: 100%">
            <tr width="100%">
                <td colspan="5" class="AName" align="center"> @Model.Naziv  </td>
            </tr>
            <tr>
                <td style="width: 30px; text-align: center;">
                    Adresa:
                </td>
                <td style="width: 30px; text-align: center;">
                    Godina otvaranja:
                </td>
                <td style="width: 30px; text-align: center;">
                    Vlasnik:
                </td>
                <td style="width: 30px; text-align: center;">
                    Cena mesecne clanarine:
                </td>
                <td style="width: 30px; text-align: center;">
                    Cena godisnje clanarine:
                </td>
                <td style="width: 30px; text-align: center;">
                    Cena jednog treninga:
                </td>
                <td style="width: 30px; text-align: center;">
                    Cena jednog grupnog treninga:
                </td>
                <td style="width: 30px; text-align: center;">
                    Cena treninga sa personalnim trenerom:
                </td>
            </tr>
            <tr width="100%">
                <td fontsize="2" style="width: 100px;" align="center"><p colour="red">  @Model.Adresa /p></td>
                <td fontsize="2" style="width: 100px;" align="center"><p colour="red">  @Model.GodinaOtvaranja </p></td>
                <td fontsize="2" style="width: 100px;" align="center"><p colour="red">  @Model.Vlasnik </p></td>
                <td fontsize="2" style="width: 100px;" align="center"><p colour="red">  @Model.CenaMesec  RSD</p></td>
                <td fontsize="2" style="width: 100px;" align="center"><p colour="red">  @Model.CenaGodina  RSD</p></td>
                <td fontsize="2" style="width: 100px;" align="center"><p colour="red">  @Model.CenaTrening  RSD</p></td>
                <td fontsize="2" style="width: 100px;" align="center"><p colour="red">  @Model.CenaGrupni  RSD</p></td>
                <td fontsize="2" style="width: 100px;" align="center"><p colour="red">  @Model.CenaPersonal  RSD</p></td>
            </tr>
        </table>

        <form action="~/Vlasnik/ObrisiFC">
            <input type="submit" value="OBRISI FITNES CENTAR" />
        </form>

        <h4>Predstojeci grupni treninzi:</h4>

        @foreach (var s in Model.GrupniTreninzi)
        {
            if (!s.Zauzeto)
            {
    <table>
        <tr>
            <td> Naziv treninga:  @s.Naziv   </td>

        </tr>
        <tr>
            <td> Cena : @Model.CenaTrening</td>
        </tr>
        <tr>
            <td> Tip:  @s.Tip   </td>

        </tr>
        <tr>
            <td> Trajanje:  @s.Trajanje   </td>

        </tr>
    </table>}
                }

        @foreach (var c in Model.Komentari)
        {
            if ((!c.IsDeleted && c.IsApproved) || (Model.Vlasnik == ViewBag.user))
            {

                if (!c.IsApproved)
                {
    <form action="~/Vlasnik/IsApproved">
        <input type="hidden" value="@Model.Naziv" name="name" />
        <input type="hidden" value="@c.ID" name="id" />
        <input type="submit" value="ODOBRI KOMENTAR" />
    </form>
                            <form action="~/Vlasnik/DelComment">
                                <input type="hidden" value="@Model.Naziv" name="name" />
                                <input type="hidden" value="@c.ID" name="id" />
                                <input type="submit" value="ODOBRI KOMENTAR" />
                            </form> }

    <table>
        <tr>
            <td align="left"> <label>User: @c.Posetilac </label></td>
        </tr>
        <tr>
            <td>
                @c.Tekst
            </td>
        </tr>

        <tr>
            <td>
                <p>Ocena: @c.Ocena od 5</p>
            </td>
        </tr>
    </table>}
}
    </div>
</body>
</html>