@using FitnessUniverse.Models
@model IEnumerable<FitnesCentar>
    @{
        Layout = null;
    }

    <!DOCTYPE html>

    <html>
    <head>
        <style>
            body {
                background: #b3fef9;
            }
        </style>
        <meta name="viewport" content="width=device-width" />
        <title>Fitnes centri</title>
    </head>
    <body>


        <form action="~/Vlasnik/DodajFC">
            <input type="submit" value="DODAJ NOVI FITNES CENTAR" />
        </form>


        @foreach (var m in Model)
        {


            <form action="~/Vlasnik/IzmenaFC">
                <table cellspacing="10">
                    <tr>
                        <td colspan="5" class="AName" align="center"> @m.Naziv  </td>

                    </tr>
                    <tr>
                        <td style="width: 30px; text-align: center;">
                            Adresa:

                        </td>
                        <td style="width: 30px; text-align: center;">
                            Godina otvaranja:
                        </td>
                        <td style="width: 30px; text-align: center;">
                            Vlasnik:
                        </td>
                        <td style="width: 30px; text-align: center;">
                            Cena mesecne clanarine:
                        </td>
                        <td style="width: 30px; text-align: center;">
                            Cena godisnje clanarine:
                        </td>
                        <td style="width: 30px; text-align: center;">
                            Cena jednog treninga:
                        </td>
                        <td style="width: 30px; text-align: center;">
                            Cena jednog grupnog treninga:
                        </td>
                        <td style="width: 30px; text-align: center;">
                            Cena treninga sa personalnim trenerom:
                        </td>

                    </tr>
                    <tr width="100%">

                        <td fontsize="2" style="width: 100px;" align="center"><p colour="red">  @m.Adresa /p></td>
                        <td fontsize="2" style="width: 100px;" align="center"><p colour="red">  @m.GodinaOtvaranja </p></td>
                        <td fontsize="2" style="width: 100px;" align="center"><p colour="red">  @m.Vlasnik </p></td>

                        <td fontsize="2" style="width: 100px;" align="center"><p colour="red">  @m.CenaMesec  RSD</p></td>
                        <td fontsize="2" style="width: 100px;" align="center"><p colour="red">  @m.CenaGodina  RSD</p></td>
                        <td fontsize="2" style="width: 100px;" align="center"><p colour="red">  @m.CenaTrening  RSD</p></td>
                        <td fontsize="2" style="width: 100px;" align="center"><p colour="red">  @m.CenaGrupni  RSD</p></td>
                        <td fontsize="2" style="width: 100px;" align="center"><p colour="red">  @m.CenaPersonal  RSD</p></td>
                    </tr>

                    <tr>

                        <td colspan="4" align="center"> <input type="hidden" value="@m.Naziv" name="name"><input type="submit" value="IZMENI FITNES CENTAR" /></td>
                    </tr>
                </table>
            </form>
            <form action="~/Vlasnik/ObrisiFC">
                <input type="submit" value="OBRISI FITNES CENTAR" />
            </form>
        }
    </body>
</html>
